parameters:
    level: 8
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        - src/Shared/Infrastructure/ApiPlatform/
    treatPhpDocTypesAsCertain: false
    tmpDir: var/phpstan/tmp
